---
import "astro:components";

import Layout from "../layouts/Layout.astro";

import { PreloadFile } from "../preload";
import { Picture } from "astro:assets";
import title_img from "@/assets/dubs.png";
import hold_img from "@/assets/robot_hold.png";
---

<Layout>
  <main class="w-full">
    <div
      id="titlecard"
      class="flex bg-[#0033a0] w-full items-center justify-center align-middle py-[0.5vh]"
    >
      <div class="flex-shrink-0 block w-[35vw] min-w-fit pr-[1vw] md:pr-[2vw] xl:pr-[3vw] align-middle">
        <h1
          class="text-xl sm:text-2xl md:text-4xl lg:text-5xl xl:text-6xl font-bold w-full text-center"
        >
          FRC Team 6324
        </h1>
        <hr class="w-[50%] m-auto my-[0.5vw]" />
        <h3 class="text-sm md:text-lg lg:text-xl font-bold w-full text-center">
          Salem, NH
        </h3>
      </div>
      <div class={`flex-shrink-0 max-w-[${title_img.width}]`}>
        <!-- This picture uses different sizes as an optimization - -->
        <Picture
          src={title_img}
          alt="The Blue Devils winning the 2025 NE FIRST district championships"
          loading="eager"
          fetchpriority="high"
          inferSize={false}
          widths={[768, 1024, 1440, title_img.width]}
          sizes={`(max-width: 480px) 768px, (max-width: 768px) 1024px, (max-width: 1024px) 1440px, ${title_img.width}px`}
          formats={["avif", "webp", "png"]}
          fallbackFormat="png"
          class={`block h-auto rounded-md w-[240px] sm:w-[320px] md:w-[460px] lg:w-[560px] xl:w-[768px]`}
        />
      </div>
    </div>
    <!--<ScrollingBar client:load />-->
    <section class="pt-[5vh] w-full flex justify-center align-middle">
      <div class="w-fit pr-[5vw]">
        <h1 class="text-6xl times-new-roman w-full text-center">About us</h1>
        <hr class="py-[2vh]" />
        <p class="max-w-[45vw] text-xl text-center">
          Salem High School came back into the world of FIRST<sup>&reg;</sup> Robotics
          and FRC in September of 2016. Since then, our team has grown into a 39
          students at the beginning of the 2025 season.
        </p>
      </div>
      <Picture
        src={hold_img}
        alt="The 2025 team holding the robot above their heads"
        loading="lazy"
        fetchpriority="auto"
        inferSize={true}
        formats={["avif", "webp"]}
        fallbackFormat="png"
        class="h-[50vh] w-auto rounded-sm"
        />
    </section>
    <br/>
  </main>
</Layout>
